{{yield}}
{{#if isOverflowed}}
  {{#if isExpanded}}
    {{#if showLess}}
      <div class="expand-multiline-bar collapser"><a {{action (action (mut isExpanded) false)}} >{{collapseText}}</a></div>
    {{/if}}
  {{else}}
    <div class="expand-multiline-bar expander"><a {{action (action (mut isExpanded) true)}} >{{expandText}}</a></div>
  {{/if}}
{{/if}}